body{
  background-color: rgb(35,35,50);
}
H1{
  text-align: center;
  color: silver;
}
.map{
  padding-top: 15px;
  background-color: darkblue;
  position:relative;
  height: 700px;
  width: 700px;
  border-radius: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  height: 900px;

}
.space {
  line-height: 23%;
  height: 23%;
  width: 23%;
  background-color: green;
  border-radius: 50%;
  box-shadow: 5px 5px 15px;
  text-align: center;
}
#player{
  background-color: blue;
}
