body{
  background-color: rgb(35,35,50);
}
H1{
  text-align: center;
  color: silver;
}
.map{
  padding-top: 15px;
  background-color: darkblue;
  position:relative;
  height: 700px;
  width: 700px;
  border-radius: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin:auto;
  overflow: hidden;
}
.container {
  display: flex-inline;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  height: 900px;


}
.space {
  line-height: 700%;
  height: 23%;
  width: 23%;
  background-color: green;
  border-radius: 20%;
  box-shadow: 5px 5px 15px;
  text-align: center;
  cursor:pointer;
  overflow: hidden;
  box-sizing: border-box;
}
.player1{
  background-color: blue;
}
.player2{
  background-color: purple;
}
.button {
  height: 25px;
  width: 100px;
  background-color: Azure;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.unclicked-space{
  border: rgba(255,255,255,0) solid 5px;
}
.clicked-space{
  border: rgba(255,255,255,1) solid 5px;
  /*height: 25px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  cursor: pointer;*/
}
.selected-border{
  border:rgba(255,0,0,1)}
}
