body{
  background-color: rgb(35,35,50);
}
H1{
  text-align: center;
  color: silver;
}
.map{
  padding-top: 15px;
  background: maroon;
  position:relative;
  height: 700px;
  width: 700px;
  border-radius: 5% 0 0 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin:40px 0 40px 0;
  overflow: hidden;
}
.container {
  margin:auto;
  display: flex;
  justify-content:center;
  flex-direction: column;
  flex-wrap:wrap;
  width: 900px;
  height: 900px;


}




.space {
  line-height: 700%;
  height: 23%;
  width: 23%;
  background-color: green;
  border-radius: 20%;
  box-shadow: 5px 5px 15px;
  text-align: center;
  cursor:pointer;
  overflow: hidden;
  box-sizing: border-box;
}
.player1{
  background-color: blue;
}
.player2{
  background-color: purple;
}

.button {
  height: 25px;
  width: 200px;
  background-color: Azure;
  border-radius: 5%;
  border:3px black solid;
  text-align: center;
  padding: 50px 15px;
  margin: 0 auto;
  cursor: pointer;
  background-color: #dfdac0;
  box-shadow: inset 0 0 18px 1px black;
}
.unclicked-space{
  /*border: ;*/
}
.clicked-space{
  box-shadow: inset 0 0 18px 1px black;
  /*border: rgba(255,255,255,1) solid 5px;*/
}
.selected-border{
  border:rgba(255,0,0,1);
}

.new-space{
  border: rgba(255,255,255,.7) solid 4px;
}

.turns{
  /*height: 25px;*/
  width: 200px;
  background-color: Azure;
  border-radius: 0 10px 10px 0;
  border:3px black solid;
  text-align: center;
  padding: 10px 15px;
  margin: 0 auto;
  cursor: pointer;
  /*border: 3px black;*/
}

.side-bar{
  border: 3px solid black;
  display: flex;
  height: 715px;
  background-color: maroon;
  margin: 79px 0 0 0;
  border-radius: 0 10px 10px 0;
  flex-direction: column;
  justify-content:flex-start;

}

.scores{
  /*height: 25px;*/
  width: 200px;
  background-color: Azure;
  border-radius: 0 10px 10px 0;
  border:3px black solid;
  text-align: center;
  padding: 10px 15px;
  margin: 0 auto;
  cursor: pointer;
}

.rules{
  width: 200px;
  height: 372px;
  background-color: Azure;
  border-radius: 0 10px 10px 0;
  border:2px black solid;
  text-align: center;
  padding: 1px 15px;
  margin: 0 auto;
  cursor: pointer;
}

/**/
